.container-input {
  @include width(333px);
  border: 1px solid $border-color;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 7fr 0.5fr;
  height: 46px;
  position: relative;
  width: 100%;

  &,
  * {
    transition: 500ms ease all;
  }

  &:hover {
    border: 1px solid $color-secondary;
  }

  &.focus {
    border: 1px solid $color-secondary;

    span.holder {
      font-size: 14px;
      font-weight: 600;
      top: 0;
    }
  }

  input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    outline: none;
    padding: 0 10px;
    position: relative;
    width: 90%;
    color: #fff;
  }

  label {
    @include center-flex-xy;

    .icono {
      @include center-flex-xy;
      color: #fff;
    }
  }

  span.holder {
    background-color: $gris;
    color: #fff;
    font-size: 18px;
    left: 40px;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;

    &.has-content {
      font-size: 14px;
      font-weight: 600;
      top: 0 !important;
    }
  }

  .view-pass {
    @include center-flex-xy;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 100%;
    position: relative;
    width: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $color-secondary;
    }
  }
}
