.hamburguer3 .hamburguer .bar {
    background-color: #fff;
}

.simple-grid2 .grid .text {
    text-align: justify;
}

.footer-up-titulo {
    height: 100px;

}


.footer-up {
    background-color: $color-primary;
    color: #fff;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    gap: 25px;

    > div {
        @include width(370px);
        padding: 10px 20px;
    }

    .institucion {
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
    }


}

@media screen and (max-width: 1000px) {
    .footer-up {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 601px) {
    .footer-up {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 850px) {
    .simple-grid2 {
        .grid {
            grid-template-columns: 1fr;

            .right {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .simple-grid2 {
        .grid {
            padding: 20px 0px;
        }
    }

    footer .redes-sociales {
        bottom: 50px;
    }
}