.title-section {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: 0 !important;
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      border-top: 2px solid #fff;
      content: "";
      display: block;
      position: relative;
      width: 50px;
      z-index: 15;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .title-section {
    height: 100px;
    label {
      font-size: 20px;
    }
  }
}
