.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-height: 100dvh;
}

.header {
  width: 100%;
  /* background-color: $color-primary; */
}

main {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding-top: 120px;
}

.footer {
  align-self: flex-end;
  background-color: $color-primary;
  width: 100%;

  color: $text-color-white;
}

@import "./logo/logo";
@import "./headers/headerLandingLeft";
@import "./headers/navs/nav";
@import "./footer/footer";
