@import "./layout/layout";
@import "./layout/box/box";
@import "./inicio/inicio";
@import "./personal/personal";
@import "./asistencia/asistencia";

.container-form {
    width: 100%;
    padding: 20px;
    padding-top: 0;

    .form-basic {

        gap: 25px;
        width: 100%;


        border-radius: 10px;

        display: flex;
        flex-direction: column;

        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 25px;
        column-gap: 25px;
        justify-items: center;
        align-items: center;

        .title {
            height: 40px;
            text-transform: capitalize;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-quinary;
        }

        &.grid-2,
        .grid-2 {
            grid-template-columns: 1fr 1fr;
            display: grid;

            row-gap: 20px;
            column-gap: 25px;

            width: 100%;
            justify-items: center;
        }

        .grid-span-2 {
            grid-column: span 2;
            @include width(100%);

            // .container-input {
            //     @include width(100%);
            // }
        }

        .container-input {
            @include width(100%);
        }
    }
}