@import "./layout/layout";
@import "./layout/box/box";
@import "./inicio/inicio";
@import "./personal/personal";

.container-form {
    width: 100%;
    padding: 20px;

    .form-basic {

        gap: 25px;
        width: 100%;


        border-radius: 10px;
        // overflow: hidden;
        display: flex;
        flex-direction: column;

        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 25px;
        column-gap: 25px;
        justify-items: center;
        align-items: center;

        .container-footer {
            
        }

        .btn-submit-basic {
            grid-column: span 2;
        }
    }
}