.asistencia {

    .contenido-header {

    }




}

.react-responsive-modal-root {
    .react-responsive-modal-modal {
        background-color: rgba(#045e55, .8);
        border-radius: 10px;

        h2 {
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            text-transform: capitalize;
        }

        form {
            display: grid;
            gap: 20px;
            justify-items: center;
        }

        .container-input.textarea{
            @include width(100%);
            textarea{
                color: #fff;
                width: 100%;
            }
        }


    }

    .react-responsive-modal-closeButton {
        svg {
            color: #fff;
            fill: #fff;
        }
    }

}