$azul: $color-secondary;

.container-input {
  border: 1px solid #aaa;
  border-radius: 10px;

  height: 46px;
  position: relative;
  width: 100%;

  display: flex;

  cursor: pointer;

  &.textarea {
    height: 100%;
    display: flex;
    min-height: 252px;

    &.enriquecido {
      .ql-formats * {
        color: $azul !important;
        stroke: $azul !important;
      }

      .ql-editor {
        font-size: 16px;

        color: $azul;
      }
      .quill {
        width: 100%;
        max-width: 740px;
        height: 100%;
        min-height: 250px;
      }

      .ql-container {
        border: none;
      }

      .ql-toolbar {
        border: none;
        border-bottom: 1px solid #aaa;
      }
    }
  }

  &,
  * {
    transition: 500ms ease all;
  }

  &:hover {
    border: 1px solid $azul;
  }

  &.focus {
    border: 1px solid $azul;

    span.holder {
      font-size: 14px;
      font-weight: 600;
      top: 0;
    }
  }

  input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    outline: none;
    padding: 0 10px;
    position: relative;
    width: 90%;
    color: $azul;
  }

  input[type="file"] {
    display: none;
  }

  select {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    outline: none;
    padding: 0 10px;
    position: relative;
    width: 90%;
    color: $azul;
  }

  label {
    @include center-flex-xy;
    max-width: 46px;
    min-width: 46px;
    .icono {
      @include center-flex-xy;
      color: $color-secondary;
    }
  }

  label.file,
  label.custom-file-upload {
    max-width: initial;
    min-width: initial;
    z-index: 10000;
    display: block;
    width: 100%;
    cursor: pointer;
    color: $azul;
    font-size: 16px;
    font-weight: 600;
  }

  textarea {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;

    outline: none;
    padding: 10px 30px;
    position: relative;
    width: 90%;
    color: $azul;
  }

  span.holder {
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: $azul;
    font-size: 18px;
    left: 40px;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    top: 23px;
    transform: translateY(-50%);
    transition: 0.3s;

    &.has-content {
      font-size: 14px;
      font-weight: 600;
      top: 0 !important;
    }
  }
}
